/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dadbd3;
}

#app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.upper-bg {
    background-color: #009688;
    width: 100%;
    height: 15%;
    position: absolute;
    top: 0;
}

div.container {
    width: 80%;
    height: 95%;
    z-index: 1;
    display: flex;
}

div.users-section {
    width: 40%;
    height: 100%;
    overflow-y: scroll;
}

div.chat-section {
    width: 60%;
    height: 100%;
    background-color: skyblue;
    overflow-y: scroll;
}

div.users-section > div.my-user,
div.chat-section > div.user-chatting {
    background-color: #eaeaea;
    border: 1px solid #d6d6d6;
    height: 8%;
}

div.users-section > div.desktop-notifications {
    background-color: #8edafc;
    height: 10%;
}

div.users-section > div.users-list {
    background-color: white;
    height: 82%;
}

div.users-section > div.users-list > div.user-search {
    background-color: #fafafa;
    height: 10%;
}

div.chat-section > div.chat-messages{
    background-image: url(../img/mine.jpg);
    height: 84%;
}

div.chat-section > div.message-input {
    background-color: #f3eeea;
    border: 1px solid #d6d6d6;
    height: 8%;
}